body { text-align: center; }
ul, ol { margin: 0 2em 1em 2em; }
p, form { margin: .5em 0; }
form { margin-top: 1em; }
label { display: block; }
input { margin: 0 0 .5em 0; }
.form-error, .errors { color: #BB0000; }
.form-success { color: #458B00; }
form .field { margin-bottom: .8em; }
form .field.checkbox input { float: left; margin-right: .5em}

header, #content, footer { width: 600px; margin: auto; text-align: left; }
header { margin: 2em auto 1.2em auto; }
#content {  }
nav { border-bottom: 1px solid #CCC; padding-bottom: 1em;}
nav a { padding: 0 1em 0 0; }
#profiler { margin-top: 1em; padding: 1em 0; font-size: .9em; color: #AAA; border-top: 1px solid #CCC; }
