[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/kohana/userguide.git
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/kohana/image.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/oauth"]
	path = modules/oauth
	url = git://github.com/kohana/oauth.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/kohana/cache.git
[submodule "modules/message"]
	path = modules/message
	url = git://github.com/GeertDD/kohana-message.git
[submodule "application/vendor/openid"]
	path = application/vendor/openid
	url = git://github.com/openid/php-openid.git
[submodule "application/vendor/swiftmailer"]
	path = application/vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
[submodule "modules/media"]
	path = modules/media
	url = git://github.com/azampagl/kohana-media.git
[submodule "modules/base"]
	path = modules/base
	url = git://github.com/badsyntax/kohana3-base.git
[submodule "modules/admin"]
	path = modules/admin
	url = git@github.com:badsyntax/kohana3-admin.git
[submodule "modules/imagemagick-driver"]
	path = modules/imagemagick-driver
	url = https://github.com/joelpittet/kohana-imagemagick-driver.git
[submodule "modules/orm_mptt"]
	path = modules/orm_mptt
	url = git://github.com/kiall/kohana3-orm_mptt.git
